.order-page{
  text-align: center;
  width: 80%;
  margin: 10px auto;
  font-size: 20px;
  & table{
    width: 100%;
    & tr{
      height: 50px;
    }
    & tr:first-child{
      background-color: #000E1E;
      color: white;
    }

  }
}