.home-page {
  width: 90%;
  & div {
    display: inline-block;
    width: 200px;
    height: 280px;
    border: solid 1px;
    margin: 20px 20px;
    padding: 10px 10px;
    & img{
      text-align: center;
      width: 90%;
      height: 70%;
      margin:0;
      padding:0;
    }

    & button{
      float:right;
      display: inline-block;
      border-radius: 50%;
      width:30px;
    }
  }
}