.App {
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #000E1E;
  text-align: center;

  & a {
    color: white;
    text-align: center;
    line-height: 50px;
    height: 100%;
    margin-left: 30px;
    float: left;
  }

}

footer {
  line-height: 40px;
  width: 100%;
  height: 40px;
  background-color: #edeef4;
  text-align: center;
}
