.add-goods {
  margin: 10px auto;

  width: 60%;

  & h1 {
    text-align: center;
  }

  & input {
    height: 20px;
    text-align: left;
    width: 80%;
    margin-bottom:20px;
  }
  & button{
    display:block;
    margin-top: 30px;
    width: 80px;
    height: 30px;
  }
  & span{
    color: red;
  }
}